<!DOCTYPE html>
<html>
  <head>
    <title>LDCTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= full_title(yield(:title)) %></title>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'custom', 'data-turbolinks-track': 'reload' %>

 </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

    <%= yield %>

    </div>
      <div class="container">
    <%= render 'layouts/footer' %>
      </div>
      <script>
      $(document).ready(function() {
        $('.one').click(function() {
          $('.one').attr('disabled', true);
        });
          $('.two').click(function() {
          $('.two').attr('disabled', true);
        });
          $('.three').click(function() {
          $('.three').attr('disabled', true);
        });
      });

      function add_to_cart(id) {
        var key = 'product_' + id;
        var x = window.localStorage.getItem(key);
        x = 1;
        window.localStorage.setItem(key, x);
        update_orders_input();
        update_orders_button();
      }

      function update_orders_input() {
        var orders = cart_get_orders ();
        $('#orders_input').val(orders);
      }

      function update_orders_button() {
        var text = 'Cart (' + cart_get_number_of_items() + ')';
        $('#orders_button').val(text);

      }

      function cart_get_number_of_items (){
        var cnt = 0;
        for(var i = 0; i < window.localStorage.length; i++)
        {
          var key = window.localStorage.key(i);
          var value = window.localStorage.getItem(key);
            if(key.indexOf('product_') == 0){
              cnt = cnt + value * 1;
            }
            return cnt;
          }
        }

        function cart_get_orders (){
          var orders = '';
          for(var i = 0; i < window.localStorage.length; i++)
          {
            var key = window.localStorage.key(i); // получаем ключ
            var value = window.localStorage.getItem(key); //получаем значение

            if(key.indexOf('product_') == 0){
              orders = orders + key + " = " + value + ", ";
            }
          }
          return orders;
        }
  </script>
  </body>
</html>
